
.navbar{
    justify-content: space-between;
}
.navbar, .navbar ul {
    display: flex;
}
.navToggle img{
    height: 20px;
}
.closeToggle img{
    height: 20px;
}
.navItem{
    display: none;
    padding: 0 1rem;
}
a{
    color: var(--color-link);
    white-space: nowrap;
}
.side_bar{
    background-color:white;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}
.side_bar .top{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.side_bar .navSide{
    padding: 2rem;
}
.navSideBtn{
    background-color: rgb(73, 73, 255);
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 4rem;
    color: white;
    width: 90%;
    margin: 2rem;
    position: fixed;
    bottom: 2rem;
}
@media screen and (min-width: 600px) {
    .navbar{
        justify-content: space-between;
    }
    .navItem{
        display: block;
    }
    .navToggle{
        display: none;
    }
    .navItem a:target{
        color: red;
        background-color: aqua;
    }
}