

.wwd_content_container_main{
    background-color: rgb(73, 73, 255);
    overflow: hidden;
    color: white;
    border-radius: 2rem 2rem 0 0;
    padding: 4rem 7%;
}
.trusted{
    display: none;
}
.content_info .wwd-btn{
    background-color: rgb(0, 201, 181);
    border: none;
    border-radius: 1rem;
    padding: 1.5rem 4rem;
    color: white;
    width: 100%;
    margin-bottom: 4rem;
}
.wwd_content_img img{
    display: none;
}
@media screen and (min-width : 600px) {
    .wwd_content_container_main{
        margin: 0 4rem;
        border-radius: 2rem;
    }
    .trusted{
        color: rgba(255, 255, 255, 0.776);
        /* display: block; */
        text-align: center;
        margin: 0 0 3rem 0;
    }
    .trusted img{
        width: 60px;
        padding: 2rem 2rem 4rem;
    }
    .wwd_content_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content_info{
        width: 50vh;
    }
    .wwd_content_img{
        width: 50%;
    }
    .wwd_content_img img{
        display: block;
        width: 80%;
        margin-inline: auto;
        /* animation: rotation infinite 20s ; */
    }
    .wwd_content_img img:hover{
        animation-play-state: paused;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}